@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: #33415c;
	font-family: 'Montserrat', sans-serif;
}
h1 {
	font-size: 18px;
}

h2 {
	font-size: 40px;
	font-weight: 500;
	line-height: 2.9rem;
}
p {
	color: #5c677d;
}
